<%  #maybe I can generate a list of videos embedded from a directory listing...%>
<%= javascript_include_tag 'ufo' %> 

<h1> Mojavee in Motion </h1>

<%= flv_player    :file => "/movies/Mojavee2.flv",:overstretch => true, :displayheight=>480 %>

