

    <h1>Listing photos</h1>     <table> 
    <% for photo in @photos %> 
      <tr> 
        <td> 
          <%= link_to(image_tag("/photos/#{photo.filename}", 
                                :size => '75x56', 
                                :border => 1), 
                      url_for(:action => 'show', :id => photo) 
                     ) 
      %> 
        </td> 
        <td> 
          <%=h photo.filename %> 
          <br/> 
          <%= link_to 'delete me', "photos/destroy/#{photo.id}",:confirm => "Really Want to Delete #{photo.filename}" %> 
        </td> 
      </tr> 
    <% end %> 
    </table> 
  
    <%= link_to 'New photo', :action => 'new' %> 

